from flask import Flask
from flask import render_template
app = Flask(__name__)

@app.route("/")
def hello():
    return render_template('base.html', app_name="{{ app_name }}",stage_name="{{ stage_name }}")

if __name__ == "__main__":
    app.run()